<% if logged_in? %>
  <%= link_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
<% else %>
  <p><%= link_to 'ログイン', login_path %></p>
  <p><%= link_to '新規登録', signup_path %></p>
<% end %>

<!-- 他のダッシュボードコンテンツ --